*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*head*/
.navbar-header
{
    margin-left: 100px;
    border-right: 1px solid #e1e1e1;
    padding: 20px 70px 20px 0;
    
}
.nav
{
    height: auto;
    
}
.nav li a
{
    padding-top: 30px;
    font-size: 16px;
}
.nav li a:hover
{
    color: #00cccc;
    background: white;
}
.navbar-default .navbar-nav>li>a:hover
{
    color: #00cccc;
    background: white;
}
.nav li
{
    padding:5px 20px 0 30px;
}
.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{
    background-color: white;
}
.navbar-default .navbar-nav>.open>a{
    background: white;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 15px;
    padding-top: 0;
}
.navbar-nav>li>.dropdown-menu li {
    padding-top: 0;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}
.navbar-nav>li>.dropdown-menu a:hover
{
    color: #00cccc;
    background: white;
}
.navbar-nav>li>.dropdown-menu li:last-child {
    padding-top: 0;
    
    border-bottom: none;
}
.navbar-brand
{
    width: 400px;
    height: 100px;
    float: left;
    border-right: 1px solid #cccccc;
}
.navbar-brand img
{
   height: 100px;
}
.menu ul{
    list-style-type: none;
}
.menu li
{
    
    float: left;
    line-height: 100px;
    position: relative;
}
.menu a{
    color: gray;
    font-weight: bold;
    text-decoration: none;
    padding-left: 50px;
    display: block;
}
.menu a:hover
{
    color: #00cccc;
}
.menu li .sub-menu
{
    position: absolute;
    display: none;
}
.menu li:hover .sub-menu
{
    display: block;
    z-index: 2
}
.menu li .sub-menu li{
    width: 200px;
    line-height: 50px;
    border-bottom: 1px solid #cccccc;
    background-color: white;
}
/*slide*/
.slider{
    height: 450px;
    border-top: 1px solid #00cccc; 
    position: relative;
    z-index: 1;
}
.slider img
{
    width: 100%;
    height: 100%;
    position: absolute;
}
.slider .btn
{
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: 200px;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.slider #btn2
{
    position: relative;
    float: right;
}
.slider #btn1:hover
{
    background: black;
    color: white;
}
.slider #btn2:hover
{
    background: black;
    color: white;
}
.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    width: 0px;
    height: 0px;
}
/*đặt phòng*/
.booking
{
    margin-left: 100px;
    margin-top: -40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: auto;
    z-index: 3;
    background-color: white;
    position: absolute;
}
.email, .phone, .Type, .check-in, .check-out, .check-out, .guests, .book-now
{
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.book-now
{
    padding-right: 20px;
}
input[type=text],select
{
    width: 150px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=number],select
{
    width: 150px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
label
{
    font-weight: bold;
    color: gray;
}
input[type=submit]
{
    width: 100px;
    background-color: #35929e;
    color: white;
    height: 30px;
    margin-top: 19px;
    border: 1px solid #00cccc;
    border-radius: 4px;
    font-weight: bold;
}
input[type=submit]:hover {
    background-color: #64cedb;
}
/*giới thiệu phòng*/
.content
{
    margin: 0 auto;
    display: block;
    margin-top: 100px;
    position: relative;
}
.content h2
{
    text-align: center;
    color: #5e5e5e;
    font-weight: bold;
    font-size: 24px;
    overflow: hidden;
    margin-bottom: 50px;
    
}
h2.line:before,h2.line:after
{
    display:inline-block;
    width:32%;
    height:1px;
    border-top: 2px solid #ccc;
    content: "";
    vertical-align: middle;
}

h2:before {
 right: 0.5em;
 margin-left: -50%;
}
h2:after {
 left: 0.5em;
 margin-right: -50%;
}
h2 span
{
    padding: 0px 20px 0px 20px;
}
.room-list
{
    margin: 0px 50px 0px 90px;
    overflow: hidden;
}

.room-thumb
{
    background-color: #fff;
    width: 356px;
    height: 300px;
    float: left;
    overflow: hidden;
    position: relative;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 2px 0 0 #e0e0e0;
    box-shadow: 0 2px 0 0 #e0e0e0;
    margin-bottom: 60px;
    margin-left: 30px;
}

.room-thumb img{
    display: block;
    float: left;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    height: 228px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.mask
{
    position: absolute;
    overflow: hidden;
    width: 356px;
    height: 300px;
    top: 0;
    left: 0;
    transform: translateY(228px);
    transition: all 0.3s ease-in-out;
   
}
.room-thumb:hover img 
{
    transform: translateY(-228px);
}

.room-thumb:hover .mask {
    transform: translateY(0px);
}
.room-thumb .room-name
{
    overflow: hidden;
    display: table;
    height: 25px;
    width: 100%;
    border-bottom: 1px solid #efefef;
    margin-left: -1px;
    margin-top: -1px;
}

.room-name h4
{
    color: gray;
    padding: 10px 0px 10px 30px;
    display: inline;
    float: left;
    font-size: 20px;
}
.room-name span
{
    color: #75c5cf;
}
.room-name .price
{
    padding: 10px;
    font-size: 14px;
    display: inline;
    float: right;
    font-weight: bold;
    color: #00cccc;
    border-left: 1px solid #efefef;
    background: rgba(90,186,198,0.03);

}
.inf .list-unstyled
{
    display: block;
    float: left;
    list-style-type: none;
}
.inf
{
    padding: 10px 20px 0px 20px;
}

.col li
{
    padding: 0px 20px 0px 30px;
}
.btn-booking
{
    background-color: #35929e;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 5px 100px;
    font-size: 14px;
    border: 1px solid #00cccc;
    border-radius: 4px;
    margin-left: 30px;
}
.btn-booking:hover
{
    background-color: #64cedb;
    text-decoration: none;
    color: white;
}
.inf span
{
    font-weight: bold;
    color: #00cccc;
}
/*giới thiệu khách sạn*/
.hotel
{
    display: block;
    text-align: justify;
    line-height: 2;
    text-indent: 30px;
}
.hotel h2
{
    text-align: center;
    color: #5e5e5e;
    font-weight: bold;
    font-size: 24px;
    overflow: hidden;
}
.hotel h3
{
   margin: 20px 50px 0px 100px;
   color: #00cccc;
}
.hotel p
{
   margin: 20px 50px 0px 100px;
   font-size: 16px
}
.hotel-inf
{
    margin: 40px 0px 0px 100px;
}
.hotel-List
{
    display: table;
    width: 100%;
    position: relative;
    
}
.palace
{
    float: left;
    width: 30%;
    border: 1px solid #efefef;
    margin: 0px 20px 0px 0px;
    border-radius: 4px;
    text-align: justify;
    line-height: 2;
}
.palace p
{
    padding: 10px 10px 10px 10px;
    text-indent: 30px;
    font-size: 16px
        
}
.palace h3
{
    text-align: center;
    color: #00cccc;
    padding: 10px 10px 10px 10px;
}
.palace img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*footer*/
.footer
{
    background-color: #5e5e5e;
    color: #c1c1c1;
    margin-top: 20px;
    display: block;
    height: auto;
    position: relative;
    float: left;
}
.footer h4
{
    margin-bottom: 20px;
}
/*calendar*/
.calendar-month
{
    float: left;
    margin: 30px 20px 0px 20px;
}

.monthPre{
 color: gray;
 text-align: center;
}
.monthNow{
 color: #c1c1c1;
 text-align: center;
}
.dayNow{
 border: 2px solid black;
 color: #c1c1c1;
 text-align: center;
}
.calendar td{
 htmlContent: 2px;
 width: 40px;
}
.monthNow th{
 color: #c1c1c1;
 text-align: center;
}
.dayNames{
 color: #c1c1c1;
 text-align: center;
}
/*blog footer*/
.content-footer
{
    float: left;
    width: 20%;
    margin: 30px 20px 0px 100px;
}

.content-footer p
{
    text-align: justify;
}


.blog-footer
{
    float: left;
    display: block;
    width: 20%;
    margin: 30px 20px 0px 20px;
}
.blog-footer a
{
    text-decoration: none;
    color: #c1c1c1;
}
.blog-footer ul
{
    list-style-type: none;
}
.blog-footer li
{
    list-style-type: none;
}

.new-thumb
{
    margin: 10px 10px 10px 0px;
    float: left;
}

.list-blog li{
    border-bottom: 2px solid #efefef;
}
.list-blog li:last-child
{
    border-bottom: none;
}
.new-thumb img
{
    width: 75px;
    height: 75px;
    border: 3px solid #ccc;
    
}
.new-content
{
    padding-top: 20px;
    margin-left: 20px;
}
/*address*/
.address
{
    float: left;
    margin: 30px 20px 0px 20px;
}
@media only screen and (max-width:850px)
{
    .menu li
    {
        float: none;
    }
    .sub-menu
    {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-nav li
    {
        border-bottom: 1px solid #e1e1e1;
    }
    .navbar-nav li a
    {
        padding: 10px;
    }
    .navbar-nav li:last-child
    {
        border-bottom: none;
    }
    .navbar-nav>li>.dropdown-menu li {
        padding-top: 0;
        padding-bottom: 10px;
        border-top: 1px solid #e1e1e1;
    }
    .navbar-nav>li>.dropdown-menu li:last-child {
        border-top:none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #cccccc;
    }
}
@media only screen and (max-width:800px)
{
    .menu li
    {
        float: none;
    }
    .sub-menu
    {
        display: block;
    }
    
    
}
/*responsive*/
@media only screen and (max-width: 1350px)
{
    .room-list
    {
        margin: 0 20px 0 30px;
    }
    .booking
    {
        margin-left: 60px;
    }
    
}
@media only screen and (max-width: 1250px)
{
    .room-list
    {
        margin: 0 0 0 10px;
    }
    .booking
    {
        margin-left: 45px;
    }
    input[type=text],select
    {
        width: 130px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    label
    {
        font-weight: bold;
        color: gray;
    }
    input[type=submit]
    {
        width: 80px;
        background-color: #35929e;
        color: white;
        height: 30px;
        margin-top: 19px;
        border: 1px solid #00cccc;
        border-radius: 4px;
        font-weight: bold;
    }
    
}
@media only screen and (max-width: 1200px)
{
    .room-list
    {
        margin: 0 0 0 10px;
    }
    .room-thumb
    {
        width: 30%;
    }
    .mask
    {
        width: 100%;
        font-size: 14px;
    }
    .price
    {
        width: 20%;
    }
    .btn-booking
    {
        padding: 5px 90px;
        margin: 0 20px 0 20px;
    }
    .booking
    {
        margin-left: 45px;
    }

    input[type=text],select
    {
        width: 110px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    label
    {
        font-weight: bold;
        color: gray;
    }
    input[type=submit]
    {
        width: 80px;
        background-color: #35929e;
        color: white;
        height: 30px;
        margin-top: 19px;
        border: 1px solid #00cccc;
        border-radius: 4px;
        font-weight: bold;
    }
}
@media only screen and (max-width: 1100px)
{
    .content-footer, .blog-footer
    {
        width: 10%;
    }
    .btn-booking
    {
        padding: 5px 90px;
        margin: 0 20px 0 20px;
    }
    .room-list
    {
        margin: 0 0 0 10px;
    }
    .room-thumb
    {
        width: 30%;
    }
    .mask
    {
        width: 100%;
        font-size: 14px;
    }
    .price
    {
        width: 20%;
    }
}
@media only screen and (max-width: 1050px)
{
    .content-footer, .blog-footer
    {
        width: 10%;
    }
    .btn-booking
    {
        padding: 5px 80px;
        margin: 0 20px 0 20px;
    }
    .room-list
    {
        margin: 0 0 0 10px;
    }
    .room-thumb
    {
        width: 30%;
        font-size: 14px;
    }
    .mask
    {
        width: 100%;
        font-size: 14px;
    }
    .price
    {
        width: 25%;
    }
}
@media only screen and (max-width: 1000px)
{
    .btn-booking
    {
        padding: 5px 70px;
        margin: 0 20px 0 20px;
    }
    .room-list
    {
        margin: 0 0 0 10px;
    }
    .room-thumb
    {
        width: 30%;
        font-size: 12px;
    }
    .mask
    {
        width: 100%;
        font-size: 12px;
    }
    .price
    {
        width: 30%;
    }
    input[type=text],select
    {
        width: 100px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    label
    {
        font-weight: bold;
        color: gray;
    }
    input[type=submit]
    {
        width: 70px;
        background-color: #35929e;
        color: white;
        height: 30px;
        margin-top: 19px;
        border: 1px solid #00cccc;
        border-radius: 4px;
        font-weight: bold;
    }
}
@media only screen and (max-width: 950px)
{
    .btn-booking
    {
        padding: 5px 60px;
        margin: 0 20px 0 20px;
    }
    .room-list
    {
        margin: 0 0 0 10px;
    }
    .room-thumb
    {
        width: 25%;
        font-size: 10px;
    }
    .mask
    {
        width: 100%;
        font-size: 10px;
    }
    .price
    {
        width: 30%;
    }
}
@media only screen and (max-width: 940px)
{
    .btn-booking
    {
        padding: 5px 20px;
        margin: 0 20px 0 20px;
    }
    .room-list
    {
        margin: 0 0 0 10px;
    }
    .room-thumb
    {
        width: 25%;
        font-size: 12px;
    }
    .mask
    {
        width: 100%;
        font-size: 12px;
    }
    .price
    {
        width: 30%;
    }
    .room-name h4{
        font-size: 12px;
    }
    .col li{
        padding: 0px 5px 5px 20px;
    }
}
@media only screen and (max-width:900px)
{
    input[type=text],select
    {
        width: 90px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    label
    {
        font-weight: bold;
        color: gray;
    }
    input[type=submit]
    {
        width: 65px;
        background-color: #35929e;
        color: white;
        height: 30px;
        margin-top: 19px;
        border: 1px solid #00cccc;
        border-radius: 4px;
        font-weight: bold;
    }
    
}
@media only screen and (max-width:850px)
{
    input[type=text],select
    {
        width: 80px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 12px;
    }
    label
    {
        font-weight: bold;
        color: gray;
        font-size: 12px;
    }
    input[type=submit]
    {
        width: 65px;
        background-color: #35929e;
        color: white;
        height: 30px;
        margin-top: 19px;
        border: 1px solid #00cccc;
        border-radius: 4px;
        font-weight: bold;
        font-size: 12px;
    }
    
}
@media only screen and (max-width:800px)
{
/*    booking*/
    .email, .phone, .Type, .check-in, .check-out, .check-out, .guests, .book-now
    {
        float: none;
        padding-left: 20px;
        padding-top: 20px;
        margin-left: 20px;
    }
    .booking
    {
        width: 90%;
        margin-left: 30px;
        margin-top: 30px;
    }
    input[type=text],select
    {
        width: 90%;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        
    }
    label
    {
        font-weight: bold;
        color: gray;
    }
    input[type=submit]
    {
        width: 90%;
        background-color: #35929e;
        color: white;
        height: 30px;
        margin-top: 19px;
        border: 1px solid #00cccc;
        border-radius: 4px;
        font-weight: bold;
    }
    .book-now
    {
        margin-bottom: 20px;
    }
    .content
    {
        margin-top: 730px;
    }
/*    content*/
    .blog-footer, .calendar-month, .content-footer,.address
    {
        float: none;
        width: 90%;
    }
    .content-footer
    {
        margin-left: 30px;
    }
    *
    {
        font-size: 16px;
    }
    div.tab
    {
        width: 100%;
    }
    .detail
    {
        width: 100%;
        margin-left: 10px;
    }
    .content-detail
    {
        width: 100%;
        margin-left: 10px;
    }
    .room-booking
    {
        width: 90%;
        margin-left: 10px;
    }
    .room-thumb
    {
        width: 100%;
    }
    .room-list
    {
        margin: 0 50px 0 10px;
    }
    .mask,.room-name, .inf
    {
        width: 100%;
        
    }
    .inf p
    {
        font-size: 14px;
    }
    .inf li
    {
        font-size: 12px;
    }
    .btn-booking
    {
        font-size: 12px;
    }
    .list-unstyled
    {
        margin-right: 100px;
    }
    .row-nav a
    {
        font-size: 12px;
    }
    .row-nav
    {
        margin: 10px 0 0 30px
    }
    h2.line:before,h2.line:after
    {
        display:inline-block;
        width:25%;
        height:1px;
        border-top: 2px solid #ccc;
        content: "";
        vertical-align: middle;
    }
/*    hotel*/
    .hotel p {
        margin: 20px 50px 0px 30px;
        font-size: 14px;
    }
    .hotel-inf {
        margin: 40px 0px 0px 30px;
    }
    .palace h3, .palace p
    {
        font-size: 14px;
    }
    .palace
    {
        float: none;
        width: 95%;
        margin-bottom: 30px;
    }
}
