

*{
    margin: 0px;
    padding: 0px;
    font-family: initial;
    box-sizing: border-box;
}
/*head*/
.navbar-header
{
    margin-left: 100px;
    border-right: 1px solid #e1e1e1;
    padding: 20px 70px 20px 0;
    
}
.nav
{
    height: auto;
    
}
.nav li a
{
    padding-top: 30px;
    font-size: 16px;
}
.nav li a:hover
{
    color: #00cccc;
    background: white;
}
.navbar-default .navbar-nav>li>a:hover
{
    color: #00cccc;
    background: white;
}
.nav li
{
    padding:5px 20px 0 30px;
}
.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{
    background-color: white;
}
.navbar-default .navbar-nav>.open>a{
    background: white;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 15px;
    padding-top: 0;
}
.navbar-nav>li>.dropdown-menu li {
    padding-top: 0;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}
.navbar-nav>li>.dropdown-menu a:hover
{
    color: #00cccc;
    background: white;
}
.navbar-nav>li>.dropdown-menu li:last-child {
    padding-top: 0;
    
    border-bottom: none;
}
.navbar-brand
{
    width: 400px;
    height: 100px;
    float: left;
    border-right: 1px solid #cccccc;
}
.navbar-brand img
{
   height: 100px;
}
.menu ul{
    list-style-type: none;
}
.menu li
{
    
    float: left;
    line-height: 100px;
    position: relative;
}
.menu a{
    color: gray;
    font-weight: bold;
    text-decoration: none;
    padding-left: 50px;
    display: block;
}
.menu a:hover
{
    color: #00cccc;
}
.menu li .sub-menu
{
    position: absolute;
    display: none;
}
.menu li:hover .sub-menu
{
    display: block;
    z-index: 2
}
.menu li .sub-menu li{
    width: 200px;
    line-height: 50px;
    border-bottom: 1px solid #cccccc;
    background-color: white;
}
.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    width: 0px;
    height: 0px;
}
/*bìa*/
.parallax-effect
{
    overflow: hidden;
    outline: none;
    background: #fff;
    border-top: 2px solid;
    border-bottom: 2px solid;
    width: 100%;
    position: relative;
    line-height: 1.42857143 !important;
    border-color: #75c5cf;
}
#parallax-pagetitle
{
    background-image:url("Hinh/parallax-01.jpg");
    background-position: 50% -76px;
    height: 140px;
    line-height: 1.42857143 !important;
    color: white;
}
.color-overlay
{
    position: relative;
    height: 100%;
    background: rgba(117,197,207,0.8);
    
}
.container
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.breadcrumb
{
    padding: 0;
    margin: 30px 0 20px 0;
    list-style: none;
}
.breadcrumb  li{
    float: left;
    margin-right: 20px;
    
}

.breadcrumb li +li:before{
    
    content: "/\00a0";
}
.breadcrumb a
{
    color: white;
}
.container h1
{
    padding-top: 30px;
    font-size: 40px;
}
.footer
{
    background-color: #5e5e5e;
    color: #c1c1c1;
    margin-top: 20px;
    display: block;
    height: auto;
    position: relative;
    float: left;
}
.footer h4
{
    margin-bottom: 20px;
}
/*calendar*/
.calendar-month
{
    float: left;
    margin: 30px 20px 0px 20px;
}

.monthPre{
 color: gray;
 text-align: center;
}
.monthNow{
 color: #c1c1c1;
 text-align: center;
}
.dayNow{
 border: 2px solid black;
 color: #c1c1c1;
 text-align: center;
}
.calendar td{
 htmlContent: 2px;
 width: 40px;
}
.monthNow th{
 color: #c1c1c1;
 text-align: center;
}
.dayNames{
 color: #c1c1c1;
 text-align: center;
}
/*blog footer*/
.content-footer
{
    float: left;
    width: 20%;
    margin: 30px 20px 0px 100px;
}

.content-footer p
{
    text-align: justify;
}


.blog-footer
{
    float: left;
    display: block;
    width: 20%;
    margin: 30px 20px 0px 20px;
}
.blog-footer a
{
    text-decoration: none;
    color: #c1c1c1;
}
.blog-footer ul
{
    list-style-type: none;
}
.blog-footer li
{
    list-style-type: none;
}

.new-thumb
{
    margin: 10px 10px 10px 0px;
    float: left;
}

.list-blog li{
    border-bottom: 2px solid #efefef;
}
.list-blog li:last-child
{
    border-bottom: none;
}
.new-thumb img
{
    width: 75px;
    height: 75px;
    border: 3px solid #ccc;
    
}
.new-content
{
    padding-top: 20px;
    margin-left: 20px;
}
/*address*/
.address
{
    float: left;
    margin: 30px 20px 0px 20px;
}
/*blog*/
.blog
{
    margin: 50px 0 0 100px;
    
}

.list
{
    width: 65%;
    float: left;
}
.mask
{
    position: relative;
    overflow: hidden;
}
.mask img
{
    max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mask:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  /*làm mờ*/
  opacity: 0.7;
}
.date
{
    float: left;
    background: #75c5cf;
    display: inline-block;
    color: #fff !important;
    position: relative;
    font-size: 18px;
    padding: 5px 6px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    height: 50px;
    width: 50px;
    text-align: center;
}
.date span
{
    display: block;
    
}
.title-blog
{
    margin: 20px 0 10px 90px;
}
.title-blog a{
    color: #75c5cf;
    text-decoration: none;
}
.title-blog a:hover{
    color: gray;
}
.title-blog span
{
    margin-right: 20px;
}
.description
{
    margin: 20px 0 100px 0;
    text-align: justify;
}
.description a
{
    text-decoration: none;
    float: right;
}
.btn-reading
{
    background-color: #35929e;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #00cccc;
    border-radius: 4px;
}
.blog-content
{
    margin-bottom: 40px;
    border-bottom: 2px solid #ccc;
}
/*complementary*/
.complementary
{
    display: block;
    width: 20%;
    float: right;
    margin-right: 100px;
}
.complementary h3
{
    color: gray;
    border-bottom: 2px solid #75c5cf;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 24px;
}
input[type=text]
{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 20px;
}
.widget
{
    margin-bottom: 40px;
}
.widget p
{
    text-align: justify;
}
.widget ul
{
    list-style-type: none;
    margin-top: -10px;
}
.widget a{
    text-decoration: none;
}
.cat-item
{
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
    padding-top: 10px;
}
.badge
{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #cccccc;
    border-radius: 10px;
    float: right;
}
.tag a
{
    position: relative;
    display: inline-block;
    margin: 8px 5px 0 0;
    padding: 2px 6px;
    color: #fff !important;
    background-color: #75c5cf;
}
.tag a:hover
{
    background-color: black;
}
/*responsive*/
@media only screen and (max-width:1024px)
{
    .blog
    {
        float: none;
        width: 100%;
    }
    .complementary
    {
        float: none;
        margin-left: 100px;
        width: 65%;
    }
    
}
@media only screen and (max-width: 1100px)
{
    .content-footer, .blog-footer
    {
        width: 10%;
    }
}
@media only screen and (max-width: 800px)
{
    .blog-footer, .calendar-month, .content-footer,.address
    {
        float: none;
        width: 90%;
    }
    .content-footer
    {
        margin-left: 30px;
    }
    *
    {
        font-size: 16px;
    }
    .btn-reading
    {
        background-color: #35929e;
        color: white;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 13px;
        border: 1px solid #00cccc;
        border-radius: 4px;
    }
    .blog, .complementary
    {
        margin-left: 20px;
        width: 95%;
        
    }
    .list
    {
        width: 100%;
    }
}
@media only screen and (max-width:850px)
{
    .menu li
    {
        float: none;
    }
    .sub-menu
    {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-nav li
    {
        border-bottom: 1px solid #e1e1e1;
    }
    .navbar-nav li a
    {
        padding: 10px;
    }
    .navbar-nav li:last-child
    {
        border-bottom: none;
    }
    .navbar-nav>li>.dropdown-menu li {
        padding-top: 0;
        padding-bottom: 10px;
        border-top: 1px solid #e1e1e1;
    }
    .navbar-nav>li>.dropdown-menu li:last-child {
        border-top:none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #cccccc;
    }
}
@media only screen and (max-width:800px)
{
    .menu li
    {
        float: none;
    }
    .sub-menu
    {
        display: block;
    }
    
}
